.firstpage {
  height: 100vh;
  background-image: url("../images/background.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

}

.main-title {
  font-size: 5rem;
  font-family: 'Playfair Display', serif;
}

.main-tagline{
  font-family: 'Raleway', sans-serif;
}

.title {
  margin-top: 8%;
  margin-left: 2%;
  background-color: white;
}
